@import '../sass/variables.scss';

.directorydisplay--detail--container {
    background-color: $color-white;
    display: grid;
    grid-template-columns: 880px;
    grid-template-rows: 75px 600px 75px auto;
    grid-row-gap: 3px;
}

.directorydisplay--detail--item {
    &--heading {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-color: $color-light-grey;
        text-align: center;
        color: $color-white;
        letter-spacing: 10px;
        font-size: 50px;
        font-weight: 500;
        line-height: 2em;
        text-transform: uppercase;
    }

    &--image {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        background-color: $color-arrow-grey;
    }

    &--subheading {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        background-color: $color-white;

        &--container {
            display: grid;
            grid-template-rows: 75px;
            grid-template-columns: 200px 474px 200px;
            grid-row-gap: 3px;
            grid-column-gap: 3px;
            text-align: center;
            color: $color-white;

            &--previous {
                grid-column: 1 / 2;
                grid-row: 1 / -1;
                background-color: $color-button-grey;
                font-size: 22px;
                line-height: 3.7em;
                letter-spacing: 3px;
            }

            &--text {
                grid-column: 2 / 3;
                grid-row: 1 / -1;
                background-color: $color-arrow-grey;
                letter-spacing: 10px;
                font-size: 38px;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 2.3em;
            }

            &--next {
                grid-column: 3 / 4;
                grid-row: 1 / -1;
                background-color: $color-button-grey;
                font-size: 22px;
                line-height: 3.7em;
                letter-spacing: 3px;
            }
        }
    }

    &--description {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        background-color: $color-white;

        &--container {
            display: grid;
            grid-template-rows: 30px 548px 30px;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 3px;
            text-align: center;
            color: $color-white;

            &--topWhite {
                grid-column: 1 / -1;
                grid-row: 1 / 2;
                background-color: $color-dark-grey;
            }

            &--left {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                padding: 30px;
                background-color: $color-dark-grey;
                font-size: 26px;
                letter-spacing: 1px;
                text-align: left;
            }

            &--right {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                padding: 30px;
                background-color: $color-dark-grey;
                font-size: 26px;
                letter-spacing: 1px;
                text-align: left;
            }

            &--bottomWhite {
                grid-column: 1 / -1;
                grid-row: 3 / 4;
                background-color: $color-dark-grey;
            }
        }
    }
}
