.directorydisplay--detail--container {
  background-color: white;
  display: grid;
  grid-template-columns: 880px;
  grid-template-rows: 75px 600px 75px auto;
  grid-row-gap: 3px; }

.directorydisplay--detail--item--heading {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: #c29a78;
  text-align: center;
  color: white;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase; }

.directorydisplay--detail--item--image {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: #8c8e90; }

.directorydisplay--detail--item--subheading {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: white; }
  .directorydisplay--detail--item--subheading--container {
    display: grid;
    grid-template-rows: 75px;
    grid-template-columns: 200px 474px 200px;
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    text-align: center;
    color: white; }
    .directorydisplay--detail--item--subheading--container--previous {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      background-color: #aeb0b1;
      font-size: 22px;
      line-height: 3.7em;
      letter-spacing: 3px; }
    .directorydisplay--detail--item--subheading--container--text {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      background-color: #8c8e90;
      letter-spacing: 10px;
      font-size: 38px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 2.3em; }
    .directorydisplay--detail--item--subheading--container--next {
      grid-column: 3 / 4;
      grid-row: 1 / -1;
      background-color: #aeb0b1;
      font-size: 22px;
      line-height: 3.7em;
      letter-spacing: 3px; }

.directorydisplay--detail--item--description {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background-color: white; }
  .directorydisplay--detail--item--description--container {
    display: grid;
    grid-template-rows: 30px 548px 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3px;
    text-align: center;
    color: white; }
    .directorydisplay--detail--item--description--container--topWhite {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      background-color: #5f6662; }
    .directorydisplay--detail--item--description--container--left {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      padding-left: 55px;
      padding-right: 55px;
      background-color: #5f6662;
      font-size: 22px;
      letter-spacing: 1px;
      text-align: left;
      line-height: 1.4em;
      overflow-y: scroll;
      height: 100%; }
      .directorydisplay--detail--item--description--container--left p {
        margin-top: 0px;
        margin-bottom: 0px; }
    .directorydisplay--detail--item--description--container--right {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      padding-left: 55px;
      padding-right: 55px;
      background-color: #5f6662;
      font-size: 22px;
      letter-spacing: 1px;
      text-align: left;
      line-height: 1.4em;
      overflow-y: scroll;
      height: 100%; }
      .directorydisplay--detail--item--description--container--right p {
        margin-top: 0px;
        margin-bottom: 0px; }
    .directorydisplay--detail--item--description--container--bottomWhite {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
      background-color: #5f6662; }
