.apt--detail--container {
  background-color: white;
  display: grid;
  grid-template-columns: 880px;
  grid-template-rows: 50px 650px auto 50px;
  grid-row-gap: 3px; }

.aptdetail {
  color: white;
  font-size: 20px; }
  .aptdetail--up--arrow {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #8d8e90;
    text-align: center;
    padding-top: 0.7em; }
  .aptdetail--gallery {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: green; }
  .aptdetail--description {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    background-color: #8d8e90;
    padding-left: 60px;
    padding-right: 60px;
    letter-spacing: 2px; }
    .aptdetail--description--name {
      text-align: center;
      font-size: 28px; }
    .aptdetail--description--contact {
      text-align: left;
      font-size: 20px; }
      .aptdetail--description--contact span {
        font-weight: 500; }
  .aptdetail--down--arrow {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    background-color: #8d8e90;
    text-align: center;
    padding-top: 0.7em; }
  .aptdetail--click {
    background-color: #5f6662;
    transition: all 0.3s ease-in-out; }
  .aptdetail--clicked {
    background-color: #8d8e90;
    transition: all 0.3s ease-in-out; }
