@import '../sass/variables.scss';
.header {
    display: grid;
    grid-template-columns: 600px 216px 264px;
    grid-template-rows: 290px 60px;
    grid-row-gap: 3px;
}

.headerItem {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    color: white;
    background-color: $color-light-grey;
    width: 100%;
    text-align: center;

    &--logo {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &--welcome {
        padding-top: 3px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &--time {
        padding-top: 3px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &--date {
        padding-top: 3px;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}
