.header {
    display: grid;
    grid-template-columns: 600px 216px 264px;
    grid-template-rows: 290px 60px;
    grid-row-gap: 3px;
}

.header {
    font-size: 19px;
    font-family: sans-serif;
    letter-spacing: 3px;

    color: white;

    &--logo {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &--welcome {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: rgba(194, 154, 120, 1);
        &--text {
            width: 600px;
            text-align: right;
        }
    }

    &--time {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: rgba(194, 154, 120, 1);
        &--text {
            width: 216px;
            text-align: center;
        }
    }

    &--date {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        background-color: rgba(194, 154, 120, 1);
        &--text {
            width: 264px;
            text-align: center;
        }
    }
}
