.header {
  display: grid;
  grid-template-columns: 600px 216px 264px;
  grid-template-rows: 290px 60px;
  grid-row-gap: 3px; }

.header {
  font-size: 19px;
  font-family: sans-serif;
  letter-spacing: 3px;
  color: white; }
  .header--logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .header--welcome {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #c29a78; }
    .header--welcome--text {
      width: 600px;
      text-align: right; }
  .header--time {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #c29a78; }
    .header--time--text {
      width: 216px;
      text-align: center; }
  .header--date {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #c29a78; }
    .header--date--text {
      width: 264px;
      text-align: center; }
