body {
  margin: 0;
  padding: 0; }

.container {
  height: 1920px;
  width: 1080px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 350px 200px auto 60px;
  grid-row-gap: 10px; }

.section {
  font-size: 20px;
  font-family: sans-serif; }
  .section--header {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .section--menu {
    grid-column: 1 / -1;
    grid-row: 2 / 3; }
  .section--main {
    grid-column: 1 / -1;
    grid-row: 3 / 4; }
  .section--footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5; }
