.main-section-animation {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: linear; }

@keyframes moveInBottom {
  /*Before the animation starts*/
  0% {
    opacity: 0;
    /*Starts with invisible*/
    transform: translateY(50%);
    /*Starts with 100px on x axis*/ }
  /*When the animation finished*/
  100% {
    opacity: 1;
    /*Finishs with invisible*/
    transform: translateY(0);
    /*Finish with 0px on x axis*/ } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
