.feature--detail--container {
  background-color: white;
  display: grid;
  grid-template-columns: 880px;
  grid-template-rows: 75px 700px auto 75px;
  grid-row-gap: 3px; }

.featuredetail {
  color: white;
  font-size: 20px; }
  .featuredetail--up--arrow {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #8c8e90;
    text-align: center;
    padding-top: 1.5em; }
  .featuredetail--gallery {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: #8c8e90;
    position: relative; }
    .featuredetail--gallery--name {
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: 0;
      transform: translateY(-100px);
      font-size: 28px;
      color: white;
      background-color: black;
      opacity: 0.7;
      text-align: center;
      letter-spacing: 15px;
      line-height: 3em;
      text-transform: uppercase; }
  .featuredetail--description {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    background-color: #8c8e90; }
    .featuredetail--description--container {
      display: grid;
      grid-template-columns: 60px 760px 60px;
      grid-template-rows: 320px auto;
      grid-row-gap: 3px;
      background-color: white;
      line-height: 130%;
      letter-spacing: 2px; }
      .featuredetail--description--container--desc {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-color: #8c8e90;
        text-align: center; }
      .featuredetail--description--container--contact {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: center;
        font-size: 28px;
        line-height: 150%;
        background-color: #8c8e90; }
        .featuredetail--description--container--contact span {
          font-weight: 500; }
      .featuredetail--description--container--leftWhite {
        background-color: #8c8e90;
        grid-column: 1 / 2;
        grid-row: 1 / 3; }
      .featuredetail--description--container--rightWhite {
        background-color: #8c8e90;
        grid-column: 3 / 4;
        grid-row: 1 / 3; }
  .featuredetail--down--arrow {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    background-color: #8c8e90;
    text-align: center;
    padding-top: 1.5em; }
  .featuredetail--click {
    background-color: #5f6662;
    transition: all 0.3s ease-in-out; }
  .featuredetail--clicked {
    background-color: #8c8e90;
    transition: all 0.3s ease-in-out; }
