@import '../sass/variables.scss';
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    grid-row-gap: 3px;
    background-color: $color-black;
}

.footerItem {
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: $color-white;

    &--name {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;
    }
    &--logo {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;
    }

    &--website {
        grid-column: 3 / 4;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;
    }
}
